.InputDisplay{
    font-size: 32px;
}
.ModalContext{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
}
.InputModal{
    position: relative;
    width: 400px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    z-index: 1;
}
.InputBox{
    width: 100%;
    padding:0;
    margin:0;
    border: 0;
    background-color: rgb(216, 224, 232);
    height: 50px;
    font-size: 32px;
    text-align: left;

}
.InputTitle{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(45, 45, 45);
    color: white;
}
.ConstraintsInfoBox{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    text-align: center;
    background-color: rgb(244, 214, 180);
    font-weight: bold;
}
.OnScreenKeyboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height:400px;
}
.OnScreenKeyboard button {
    font-size: 32px;
}
.ModalBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.ExitButton{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    background-color: rgb(45, 45, 45);
    color: red;
    border: 0;
    padding: 5px;
}